.FondoPagina
	{
		
	}
header{
	height: 50%;
    width: 50%;
	margin-left:25%;    
	font-family: 'Berkshire Swash', cursive;
	font-size:300%;
}
.Cabecera
	{
		background-color: powderblue;
		width:76%;
		height:100%;
		margin-bottom:10px; 
		margin-left:10%;

	}
.FuenteTarjetaPresentacion 
	{
		float: left;
		width: 350px;
		border: 2px solid #672222;
		background: #F3C0C0;
		padding: 30px;
		margin: 10px;
	}
.FuenteLista
	{
		float:left;
		width: 350px;
		border: 2px solid #672222;
		background: #F10AA0
		padding: 30px;
		margin: 10px
	}